.loader {
  position: fixed;
  background: #212529;
  bottom: 50px;
  left: 15px;
  border-radius: 3px;
  padding: 12px 15px;
  color: #ffffff;
}
.loading-text {
  vertical-align: super;
  margin: 0 0 0 15px;
  color: #d2d7dc;
}
.loading-close {
  display: inline-block;
  vertical-align: super;
  margin: 0 0 0 20px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  background: #2f333a;
  text-align: center;
  border-radius: 3px;
}
